<!-- 
<img src="{{ angularLogo }}">
<img [src]="angularLogo">
<img bind-src="angularLogo">

<h1 [class]="titleClass"> Ara, ya mashin!</h1>
<h2 [class.red-title]="titleClass">
  {{title}}
</h2>
<h3 [style.color]="titleStyle">
  {{title}}
</h3>
<h3 [style.color]="titleStyle ? 'green' : 'pink'">
  {{title}}
</h3>
<h1 [ngClass]="titleClasses">
  {{title}}
</h1>
<h2 [ngStyle]="titleStyles">
  {{title}}
</h2>
<p> My name is {{ title }}</p>
<ul>
	<li *ngFor="let arr of myArr">{{ arr }}</li>
</ul>
<p *ngIf="myArr; else otherTmpl">Yeah, I exist.</p>

<ng-template #otherTmpl>No, I do.</ng-template>


<div *ngIf="myArr; then tmpl1 else tmpl2"></div>

<ng-template #tmpl1>I'm here</ng-template>
<ng-template #tmpl2>I'm not here</ng-template>
<div>
	<button [disabled]="buttonStatus">My Button</button>
	<button [disabled]="buttonStatus2 == 'enabled'">My Button</button>
</div>
<div>
	<button (click)="myEvent($event)">My Button Event</button>
</div>

<p>{{ someProperty }}</p>

<p [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate</p> 
-->

<app-books></app-books>